@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: rgb(37, 37, 37);
  margin: 0px;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.uploadForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 900px;
  opacity: 80%;
  background-color: rgb(52, 52, 52);
}

.uploadForm input,
.uploadForm select,
.uploadForm textarea {
  outline: none;
  border: none;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 18px;
  color: white;
  background-color: inherit;
}

option {
  color: black;
  background-color: white;
}

.uploads {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  top: 80px;
}

.uploadbg {
  width: 100%;
  height: 140%;
  object-fit: cover;
  position: absolute;
  margin-top: -90px;
  overflow-y: hidden;
  z-index: -9;
}

.aibox {
  color: wheat;
  background-color: black;
  width: 900px;
  overflow-y: scroll;
  padding: 30px;
  opacity: 80%;
}

.aichatbox {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.topbuttons {
  text-decoration: none;
  font-size: 1.4rem;
  color: rgb(120, 107, 73);
  margin: 20px;
}

.link {
  background-color: bisque;
  min-width: 350px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  margin: 10px;
}

.categoryCard {
  width: inherit;
  height: inherit;
  background-size: cover;
  position: inherit;
  background-size: 110%;
  transition: all 1s ease-out;
}

.categoryCard:hover {
  background-size: 120%;
}

.categoryCard:hover .categoryCard h3 {
  font-size: 20px;
}

.categoryCard img {
  width: inherit;
}
.categoryCard h3 {
  position: absolute;
  bottom: 0px;
  left: 20px;
  font-size: 30px;
  z-index: 2;
  color: rgb(255, 255, 255);
}

h1,
.label {
  color: rgb(124, 115, 101);
  margin-left: 20px;
}

.label{
text-align: center;
background-color: rgb(124, 115, 101);
margin: 0px;
padding: 10px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}



.label {
  color: aliceblue;
  font-size: 2rem;
}

.animalCard {
  position: relative;
  color: rgb(148, 148, 148);
  width: 300px;
  height: 300px;
  padding: 6px;
  margin: 10px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  background-size: cover;
  overflow: hidden;
}
.animalCard h3 {
  margin-left: 20px;
  z-index: 90;
}

.cardTextBox {
  position: absolute;
  width: 100%;
  bottom: 0px;
  opacity: 80%;
  background-color: rgb(37, 37, 37);
}

.animalImage {
  height: inherit;
  width: inherit;
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: -1;
  filter: grayscale(70%);
  transition: all 0.2s ease-in;
  object-fit: cover;
}

.animalImage:hover {
  filter: grayscale(0%);
}

.cardRow {
  position: absolute;
  top: 160px;
  display: flex;
  flex-wrap: wrap;
}

.searchBox {
  background-color: rgb(23, 23, 23);
  position: absolute;
  width: 100%;
  height: 60px;
  top: 80px;
  margin: 0px;
  display: flex;
}

.searchBox input {
  font-size: 20px;
  padding-left: 80px;
  height: 97%;
  color: white;
  background-color: rgb(23, 23, 23);
  align-self: center;
  width: 60%;
  align-self: flex-start;
  border: none;
}

.searchBox input:focus {
  outline: none;
}

.animalProfile {
  position: relative;
  top: 100px;
}

.profileImage {
  position: absolute;
  z-index: -1;
  top: 0px;
  width: 100%;
  filter: grayscale(100%);
}

.profileImageSmall {
  position: absolute;
  right: 0px;
  width: 40%;
  top: 100px;
  border: solid 10px rgb(124, 115, 101);
  margin: 10px;
  z-index: 90px;
  animation: moveImage 1s ease-out 0s 1 forwards ;

}

.rightcol{
  display: flex;
  flex-direction: column;
}

@keyframes moveImage {
  from{
    opacity: 0%;
    top: 200px;
  }

  to{
    opacity: 100%;
    top: 100px;
  }
}

.profileDesc {
  color: white;
  padding: 20px;
  font-size: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: absolute;
  width: 50%;
  top: 100px;
  background-color: black;
  margin: 10px;
  opacity: 60%;

  animation: movedesc 1.6s ease-out 0s 1 forwards ;
}

@keyframes movedesc {
  from{
    opacity: 0%;
    left: -90px;
  }

  to{
    opacity: 60%;
    left: 0px;
  }
}

.profiletitle {
  font-size: 4rem;
  background-color: black;
  padding-left: 40px;
  margin: 0px;
  animation: moveTitle 0.5s ease-out 0s 1 forwards ;

}

@keyframes moveTitle {
  from{
    opacity: 0%;
  }

  to{
    opacity: 100%;
  }
}


.sciName{
  font-size: 2rem;
  margin-left: 40px;
  font-style: italic;
}

.profileStats{
  color: white;
  z-index: 90px;
  margin-left: 1000px;
}

.map{
  width: fit-content;
  position: relative;
  height: fit-content;
  position: relative;
  background-size: contain;
}

#map{
width: 100%;
position: relative;
}

.mapmarkers{
  position: absolute;
  z-index: 100;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(119, 116, 65);
  top: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.maplabel{
  background-color: azure;
  padding: 6px;
  position: absolute;
  transform: translate(30px, -30px );
  font-size: large;
  opacity: 0%;
  transition: all 0.2s ease-in;
}

.mapmarkers:hover .maplabel{
opacity: 100%;
}

#america{
left: 17%;
top: 40%;
}

#africa{
  top: 60%;
  right: 38%;
}

#europe{
  right: 38%;
  top: 40%;
}

#asia{
  right: 21%;
  top: 30%;
}


#austrailia{
  right: 14%;
  top: 77%;
}

#southAmerica{
  top: 69%;
  left: 27%;
}

#southAsia{
  right: 25% ;
  top: 49%;
}

#ocean{
  left: 40%;
  top: 60%;
}

.animalList{
  position: relative;
}
.bannerDiv{
  width: 100%;
  position: relative;
  top: 70px;
}

.typeBanner{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.bannerText{
  top: 0px;
  font-size: 90px;
  z-index: 990;
}
.bannerTextbg{
  opacity: 70%;
  height: 200px;
  background-color: black;
  padding-left: 20px;
  padding-top: 0px;
  padding-right: 100px;
  padding-bottom: 100px;
  top: 0px;
  position: absolute;

  animation: movedesc 1.6s ease-out 0s 1 forwards ;

}

.subtext{
  position: absolute;
  font-size: 30px;
  top: 160px;
  padding: 10px;

  padding-left: 25px;
  text-wrap: wrap;
  
  color: rgb(255, 255, 255);
  background-color: black;
  opacity: 60%;
  right: 0px;
  left: 0px;

  white-space: pre-wrap;
  word-wrap: break-word;

  animation: subtextAnim 2s ease-out 0s 1 forwards ;
}

@keyframes subtextAnim {
  from{
    opacity: 0%;
    top: 200px;
  }
  to{
    opacity: 60%;
    top: 160px;
  }
}